
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}
/*--------------------------------------------Background image*/

.bg-image {
    background-image: url("../../images/dalmation-bg-large.png");
    padding-left: 0;
    padding-right: 0;
    
}


/*--------------------------------------------Logo styling*/


.logo-image {
    background-image: url("../../images/logo-pixels.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding-left: 30px!important;
    padding-right: 30px!important;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    
}

hr.pink-hr1 {
    border: 2px solid #E37489;
    margin-top: 7px;
    margin-bottom: 0;  
}

hr.pink-hr2 {
    border: 2px solid #E37489;
    margin-top: 0;
    margin-bottom: 0;  
}

hr.pink-hr-dash1 {
    border: 3px dashed #E37489;
    margin-top: 7px;
    margin-bottom: 0;
}

hr.pink-hr-dash2 {
    border: 3px dashed #E37489;
    margin-top: 3px;
    margin-bottom: 7px;
}

hr.pink-hr-dash3 {
    border: 3px dashed #E37489;
    margin-top: 7px;
    margin-bottom: 3px;
}


/*--------------------------------------------Navbar styling*/

.bg-pink {
    background-color: #e37489 !important;
    
}


.nav-link {
    color: #fff !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    
}

.navbar-toggler {
    border: none;
}


/*--------------------------------------------Callout styling*/

.callout-image {
    background: url("../../images/Office-callout.png") no-repeat bottom right;
    height: 645px; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0;
    padding-right: 0;
    min-width: 100px;
}


@media (max-width: 600px) {
    .callout-image{
        background-image: url("../../images/Pink-gb-concentrated-pixels.png");
    }
}

    

/*--------------------------------------------About Us styling*/

.about-container {
    padding-top: 5em;
    padding-bottom: 5em;
    font-family: "Roboto", sans-serif !important;
    letter-spacing: 1px;
    font-weight: 500;
}

/*--------------------------------------------Prints styling*/

.print-bg {
    background-color: #FFACBC;
    border: #E37489 solid 20px;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #fff;
}

.card {
    position: relative;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    flex-direction: column;
}

.row {
    justify-content: space-evenly;
}

.print-text {
    padding-bottom: 3rem;
}

/*.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }




.card-wrapper {
    flex-wrap: wrap;
    display: flex;
}



/*.prints-1 {
    display: flex;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.print-card {
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    color: #fff;
}

.print-card-2 {
    justify-content: center;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    color: #fff;
}



.print-text {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.print-price {
    font-size: medium;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .prints-1 {
        display: block;
        
    }
}

@media screen and (max-width: 800px) {
    .prints-1 {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
        
    }
}

.row {
    justify-content: center;
}